[submodule "lib/libDaisy"]
	path = lib/libDaisy
	url = git@github.com:netherwaves/libDaisy.git
	branch = master
[submodule "lib/DaisySP"]
	path = lib/DaisySP
	url = git@github.com:netherwaves/DaisySP.git
	branch = master
